/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 oct. 2024, 16:52:26
    Author     : galan
*/

.dark{
    background-color: #3a3a3a;
    color: #b5b5b5;
}

.light{
    background-color: #f4f4f4;
    color: #535656;
}
